.products__title {
  margin-bottom: 16px;
  font-weight: 600;
  font-size: 28px;
  line-height: 120%;
}
.item__wrapper {
  padding: 4px;
  display: flex;
  flex-direction: column;
  background: #ffffff;
  border-radius: 12px;
  min-height: 243px;
}
.item__wrapper img {
  width: 100%;
  height: 120px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 10px;
}
.product__price {
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  margin-bottom: 4px;
}
.product_title {
  font-weight: 400;
  font-size: 12px;
  line-height: 130%;
  margin-bottom: 16px;
}
.product__weight {
  font-weight: 600;
  font-size: 12px;
  line-height: 130%;
  color: #b1b1b1;
  margin-bottom: 7px;
}
.product__add {
  background: #f2f2f3;
  border-radius: 8px;
  width: 100%;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  padding: 9px;
  transition: all 0.2s ease;
  color: #000000;
}
.product__add:hover {
  background-color: #ffab08;
  color: #ffffff;
}
.product__add:active {
  background-color: #f86310;
}
@media (min-width: 1024px) {
  .products__title {
    margin-bottom: 24px;
    font-size: 40px;
  }
  .item__wrapper {
    padding: 12px;
    border-radius: 18px;
    min-height: 411px;
  }
  .item__wrapper img {
    height: 220px;
    border-radius: 12px;
    margin-bottom: 16px;
  }
  .product__price {
    font-weight: 600;
    font-size: 24px;
    line-height: 100%;
    margin-bottom: 8px;
  }
  .product_title {
    font-size: 16px;
  }
  .product__weight {
    font-size: 16px;
    margin-bottom: 8px;
  }
  .product__add {
    border-radius: 12px;
    font-size: 16px;
    padding: 12px;
  }
}
