@import url("reset.css");
@import url("common.css");
@import url("header.css");
@import url("navi.css");
@import url("catalog.css");
@import url("cart.css");
@import url("count.css");
@import url("products.css");
@import url("footer.css");
@import url("modal-content.css");
@import url("modal-delivery.css");
:root {
  --lightorange-color: #ffab08;
  --orange-color: #ff7020;
  --black-color: #000000;
  --lightgray-color: #f9f9f9;
  --gray-color: #f2f2f3;
}
